name: build

on:
  push:
  release:
    types: [created, published]

env:
  python_version: '3.12'

permissions:
  contents: read

jobs:

  test:
    runs-on: ubuntu-22.04
    container: fedora:41
    timeout-minutes: 30
    permissions:
      contents: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Install Linux Dependencies
        run: >
          dnf install -y gcc git graphviz pkg-config python-launcher upx
          mutter dbus-x11 gtk4 gobject-introspection-devel
          cairo-gobject-devel gtksourceview5-devel libadwaita-devel cairo-devel
          python${{ env.python_version }}-devel
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Set ownership of checkout directory
        run: chown -R $(id -u):$(id -g) $PWD
      - name: Use Python Dependency Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pip
          key: python${{ env.python_version }}-${{ hashFiles('**/poetry.lock') }}-41
      - name: Install Poetry
        run: |
          python${{ env.python_version }} -m ensurepip
          python${{ env.python_version }} -m pip install --constraint=.github/constraints.txt poetry
      - name: Configure Poetry
        run: poetry config virtualenvs.in-project true
      - name: Install Python Dependencies
        run: |
          poetry install --no-interaction
      - name: Install settings schemas
        run: poetry run gaphor install-schemas
      - name: Run Tests
        env:
          XDG_RUNTIME_DIR: /tmp
        run: |
          eval $(dbus-launch --auto-syntax)
          mutter --wayland --no-x11 --sm-disable --headless -- poetry run pytest
